.Pokecard{
    width: 10%;
    height: 220px;
    background-color: lightgray;
    border-radius: 10px;
    padding: 20px 20px;
    margin: 40px;
    display: inline-block;
}

.Pokecard-img {
    width: 100px;
    margin-bottom: 20px;
}